<% enabled_and_available = game.is_enabled_and_available? %>
<% status = game.status_for_session(@session_id) %>
<a href="<%= game.url %>" class="p-4 mb-4 border border-stone-200 rounded-xl text-stone-500 hover:bg-rose-100 hover:text-rose-900 hover:border-rose-100 focus:z-10 focus:ring-4 focus:outline-none focus:ring-rose-200 focus:text-rose-900
  <%= status == :finished ? "opacity-50" : "" %>
  <%= status == :in_progress ? "bg-rose-50 border-rose-200" : "" %>
  <%= !enabled_and_available ? "pointer-events-none" : "" %>
  ">
  <h3 class="text-lg font-semibold text-stone-700 mb-2">
    <%= status == :finished ? "✅ - " : "" %><%= game.name %>
  </h3>
  
  <p class="flex gap-2 items-center uppercase text-xs font-bold tracking-wide text-rose-900 mb-4">
    <%= game.questions.count %> Questions
    <% game.questions.each do |question| %>
      <% answer = question.get_answer_for_session(@session_id) %>
      <span class="w-4 h-1 rounded
        <%=
          if answer.present? && answer.is_correct
            "bg-green-900"
          elsif answer.present? && !answer.is_correct
            "bg-rose-900"
          else
            "bg-stone-300"
          end
        %>
      "></span>
    <% end %>
  </p>
  
  <p class="mb-4"><%= game.description %></p>

  <p class="uppercase text-xs font-bold tracking-wide mb-4">
    Easy - Times Played: 10 - Average Score: 66%
  </p>


  <% if !enabled_and_available %>
  <p class="text-rose-900">Available to play on <%= game.available_after_date.strftime('%e %B %Y') %></p>

  <% elsif status == :not_started %>
  <div class="inline-flex items-center font-semibold">
    Play
    <%= render "svg/small_arrow_right" %>
  </div>

  <% elsif status == :in_progress %>
  <div class="inline-flex items-center font-semibold">
    Continue
    <%= render "svg/small_arrow_right" %>
  </div>

  <% elsif status == :finished %>
  <div class="inline-flex items-center font-semibold">
    Recap
    <%= render "svg/small_arrow_right" %>
  </div>
  <% end %>
</a>
