<section class="py-12 px-6 mx-auto max-w-xl">
  <%= render "svg/games" %>
  <% @games.each do |game| %>
    <% status = game.status_for_session(@session_id) %>
    <div class="p-4 mb-4 border border-stone-200 rounded-xl text-stone-500
      <%= status == :finished ? "opacity-75" : "" %>
      <%= status == :in_progress ? "bg-rose-50 border-rose-200" : "" %>
      ">
      <h3 class="text-lg font-semibold text-stone-700">
        <%= status == :finished ? "✅ - " : "" %><%= game.name %>
      </h3>
      <p class="uppercase text-xs font-bold tracking-wide text-rose-900 mb-4"><%= game.questions.count %> Questions</p>
      <p class="mb-4"><%= game.description %></p>

      <% if status == :not_started %>
      <div>
        <%= render "components/button", url: game.url, text: "Play" %>
      </div>

      <% elsif status == :in_progress %>
      <div>
        <%= render "components/button", url: game.url, text: "Continue" %>
      </div>

      <% elsif status == :finished %>
      <div>
        <%= render "components/button", url: game.url, text: "Recap" %>
      </div>
      <% end %>

    </div>
  <% end %>

  <% if Rails.env.development? %>
    <div class="p-4 mt-24 bg-yellow-50 border border-yellow-200 rounded-xl text-stone-500">
      <p class="mb-4">For development purposes only.</p>
      <%= render "components/button", url: "/games/start-over", text: "Clear Game Progress" %>
    </div>
  <% end %>
</section>

<%= render "components/page_of_photos" %>
