<p>Church Game</p>

<canvas id="church-game"></canvas>

<script type="text/javascript">
  window.assets = {};
  window.assets.jump_mp3 = "<%= asset_url('jump.mp3') %>";
  window.assets.game_over_mp3 = "<%= asset_url('game-over.mp3') %>";
  window.assets.jump_mp3 = "<%= asset_url('jump.mp3') %>";
  window.assets.level_up_mp3 = "<%= asset_url('level-up.mp3') %>";
  window.assets.press_start_font = "<%= asset_url('PressStart2P-Regular.ttf') %>";
  window.assets.preview_png = "<%= asset_url('preview.png') %>";
  window.assets.sprite_png = "<%= asset_url('sprite.png') %>";
</script>