<%
 events = [{
  type: 'secondary',
  time: 'Morning',
  title: 'Travel to Fivemiletown',
  description: "This won't matter to anyone who is local, but to those coming from afar, here are the directions to get you to the Church. If you don't fancy the drive on the morning of the wedding then we can recommend some places to stay that are close to Fivemiletown.",
  actions: [{
    url: "https://www.google.ie/maps/dir/Galway/St+Mary's+Catholic+Church,+Fivemiletown,+Fivemiletown+BT75+0QP,+United+Kingdom/@53.8217957,-8.7424165,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x485b93955a2d5bff:0x32b1b440a495281!2m2!1d-9.0567905!2d53.270668!1m5!1m1!1s0x485e255d6ed134b5:0x6d85f51e05c835a!2m2!1d-7.3069256!2d54.3793989!3e0",
    text: 'ðŸ§­ From Galway (~ 3 hours)'
  }]
 }, {
  type: 'primary',
  time: '1pm',
  title: 'Ceremony ðŸ’’',
  location: "St Mary's Church, Fivemiletown",
  description: "The ceremony is in St Mary's Church in Fivemiletown. There is parking in a small carpark nearby, and you can also park along the side of the road.",
  actions: [{
    url: "https://www.google.ie/maps/place/St+Mary's+Catholic+Church,+Fivemiletown/@54.379372,-7.3090818,17z/data=!3m1!4b1!4m5!3m4!1s0x485e255d6ed134b5:0x6d85f51e05c835a!8m2!3d54.3793989!4d-7.3069256",
    text: 'ðŸ“ Church'
  }, {
    url: "https://www.google.ie/maps/place/King+George+V+Playing+Fields/@54.3793903,-7.3095287,248m/data=!3m1!1e3!4m5!3m4!1s0x485e25d6778db313:0x4b588a36e8b390e0!8m2!3d54.3796416!4d-7.3085123",
    text: 'ðŸ“ Car Park'
  }]
 }, {
  type: 'primary',
  time: '2pm',
  title: 'Coffee â˜•',
  location: "St Mary's Church, Fivemiletown",
  description: "It is a long drive from Fivemiletown to Farnham, so to make sure that you're well caffeinated before you leave, we'll have a coffee cart nearby serving drinks and sweets. Fingers crossed it doesn't rain on us."
 }, {
  type: 'secondary',
  time: '3ish',
  title: 'Travel to Farnham Estate',
  description: "It's about a 45 minute drive from the church to Farnham Estate. The best route is via Maguiresbridge, Lisnaskea and Newtownbutler. That will take you to Cavan town and Google Maps will take you the rest of the way.",
  actions: [{
    url: "https://www.google.ie/maps/dir/St+Mary's+Catholic+Church,+Fivemiletown,+Fivemiletown+BT75+0QP,+United+Kingdom/Farnham+Estate,+County+Cavan/@54.1862209,-7.6905393,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x485e255d6ed134b5:0x6d85f51e05c835a!2m2!1d-7.3069256!2d54.3793989!1m5!1m1!1s0x485e0da44652a9bf:0x2396ace3600ae133!2m2!1d-7.39995!2d54.00253!3e0",
    text: 'ðŸ§­ From the Church (~ 45 minutes)'
  }]
 }, {
  type: 'primary',
  time: '4pm',
  title: 'Drinks Reception ðŸ¸',
  location: 'Farnham Estate, Cavan',
  description: "There will be music, drinks and nibbles when you arrive at the hotel. The wedding venue at Farnham Estate is to the right hand side of the main house, facing onto the green. You can walk past the main house and directly over to it, or you can walk through reception of the main hotel as well."
 }, {
  type: 'primary',
  time: '6pm',
  title: 'Dinner ðŸ›',
  location: 'Farnham Estate, Cavan',
  description: "Dinner will be served at approximately 6pm. Please do let us know if you've any special dietary requirements."
 }, {
  type: 'primary',
  time: '8pm',
  title: 'Speeches ðŸ’¬',
  location: 'Farnham Estate, Cavan',
  description: "The last of the formalities for the evening. Settle in to hear from the fathers, Mike, and the best man Liam. These will happen over dessert."
 }, {
  type: 'primary',
  time: '9pm',
  title: 'Dancing ðŸ’ƒ',
  location: 'Farnham Estate, Cavan',
  description: "Bring your best dancing shoes and get ready to move. Send us over your best wedding song recommendations and we'll pass them on to the band."
 }, {
  type: 'primary',
  time: '1am',
  title: 'Session ðŸŽ» ðŸª—',
  location: 'Farnham Estate, Cavan',
  description: "When the band and DJ are finished, we'll get the traditional music going. If you've got an instrument or a good singing voice, then bring them along and join in."
 }]

 day_two = [{
  type: 'primary',
  time: '5pm',
  title: 'Celebrations Continue ðŸ•º',
  location: 'Farnham Estate, Cavan',
  description: "We would love for you to join us for some day two fun in Farnham Estate. The celebrations will continue in the same location as the wedding from 5pm."
 }, {
  type: 'primary',
  time: '6pm',
  title: 'BBQ ðŸ—',
  location: 'Farnham Estate, Cavan',
  description: "There will be BBQ food served at approximately 6pm. Please let us know if you plan to attend so that we can ensure that we have enough food."
 }, {
  type: 'primary',
  time: '7pm',
  title: 'Music ðŸŽ» ðŸª—',
  location: 'Farnham Estate, Cavan',
  description: "Following the BBQ, there will be live music by the wonderful Bronagh Broderick.",
  actions: [{
    url: "https://www.instagram.com/bronagh_broderick_music/",
    text: "ðŸ“¸ Bronagh's Instagram"
  }, {
    url: "https://open.spotify.com/artist/1OdA6vRNxmxyVOlGp5UOiX",
    text: "ðŸŽµ Bronagh's Spotify"
  }]
 }]
%>

<header class="py-12 px-6 mx-auto max-w-3xl">
  <%= render "svg/details_of_the_day" %>
  <h2 class="pt-8 pb-4 text-2xl text-stone-700">Wedding Day - 1st of April</h2>
  <ol class="relative border-l border-rose-200">                  
  <% events.each do |event| %>
    <%= render "components/detail_timeline_item", event: event %>
  <% end %>
  </ol>
  <h2 class="pt-8 pb-4 text-2xl text-stone-700">Day Two - 2nd of April</h2>
  <ol class="relative border-l border-rose-200">                  
  <% day_two.each do |event| %>
    <%= render "components/detail_timeline_item", event: event %>
  <% end %>
  </ol>
</main>

<%= render "components/next_three_games" %>
<%= render "components/page_of_photos" %>
