<%
  options = [{
    name: 'Farnham Estate',
    type: "hair",
    image: 'farnham',
    actions: [{
      text: 'ðŸ“ Location',
      url: "https://www.google.ie/maps/place/Drumbar,+Farnham+Estate,+Co.+Cavan/@54.0025242,-7.435828,14z/data=!3m1!4b1!4m5!3m4!1s0x485e0da44652a9bf:0x2396ace3600ae133!8m2!3d54.00253!4d-7.39995"
    }, {
      text: 'ðŸ”— Website',
      url: "https://www.farnhamestate.ie/"
    }]
  }, {
    name: 'Farnham Estate',
    type: "hair",
    image: 'farnham',
    actions: [{
      text: 'ðŸ“ Location',
      url: "https://www.google.ie/maps/place/Drumbar,+Farnham+Estate,+Co.+Cavan/@54.0025242,-7.435828,14z/data=!3m1!4b1!4m5!3m4!1s0x485e0da44652a9bf:0x2396ace3600ae133!8m2!3d54.00253!4d-7.39995"
    }, {
      text: 'ðŸ”— Website',
      url: "https://www.farnhamestate.ie/"
    }]
  }, {
    name: 'Farnham Estate',
    type: "make_up",
    image: 'farnham',
    actions: [{
      text: 'ðŸ“ Location',
      url: "https://www.google.ie/maps/place/Drumbar,+Farnham+Estate,+Co.+Cavan/@54.0025242,-7.435828,14z/data=!3m1!4b1!4m5!3m4!1s0x485e0da44652a9bf:0x2396ace3600ae133!8m2!3d54.00253!4d-7.39995"
    }, {
      text: 'ðŸ”— Website',
      url: "https://www.farnhamestate.ie/"
    }]
  }, {
    name: 'Farnham Estate',
    type: "make_up",
    image: 'farnham',
    actions: [{
      text: 'ðŸ“ Location',
      url: "https://www.google.ie/maps/place/Drumbar,+Farnham+Estate,+Co.+Cavan/@54.0025242,-7.435828,14z/data=!3m1!4b1!4m5!3m4!1s0x485e0da44652a9bf:0x2396ace3600ae133!8m2!3d54.00253!4d-7.39995"
    }, {
      text: 'ðŸ”— Website',
      url: "https://www.farnhamestate.ie/"
    }]
  }]
%>
<header class="py-12 px-6 mx-auto max-w-4xl">
  <%= render "svg/hair_and_make_up" %>
  <p class="pb-4 text-base leading-7">Guests are free to stay wherever they'd like on the night of the wedding. There are rooms and lodges available on site at Farnham Estate - contact the hotel directly and mention the McKenna/Rockall wedding to avail of the wedding rate. There are additional options for Airbnbs, B&Bs, and hotels in Cavan town which are approximately a 15 minute taxi away. Please see the list below for some of the options.</p>

  <h2 class="py-4 text-2xl text-stone-700">Hair</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% options.select {|l| l[:type] == "hair" }.each do |option| %>
      <%= render "hair_and_make_up_option", option: option %>
    <% end %>
  </div>

  <h2 class="pt-8 pb-4 text-2xl text-stone-700">Make Up</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <% options.select {|l| l[:type] == "make_up" }.each do |option| %>
      <%= render "hair_and_make_up_option", option: option %>
    <% end %>
  </div>
</main>

<%= render "components/next_three_games" %>
<%= render "components/page_of_photos" %>
