<h1><%= @game.name %></h1>

<ul>
  <li><b>Session ID:</b> <%= @session_id %></li>
</ul>

<% @game.questions.each_with_index do |question, index| %>
  <hr />
  <h3><%= index + 1 %> of <%= @game.questions.count %>: <%= question.text %></h3>

  <ul>
  <% question.enabled_answers.each do |answer| %>
    <% submitted_answer = question.get_answer_for_session(@session_id) %>
    <li>
      <%= 
        if answer.id == submitted_answer.id 
          if submitted_answer.is_correct?
            "✅ - "
          else
            "❌ - "
          end
        else
          if answer.is_correct?
            "✅ - "
          end
        end
      %>
      <%= answer.text %>
    </li>
  <% end %>
  </ul>
<% end %>
