<!DOCTYPE html>
<html>
  <head>
    <title>WIP - Mike & Ciara Get Married</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="font-serif">
    <nav class="flex flex-wrap px-2 pt-2">
      <%
        links = [{
          text: 'Home',
          url: '/'
        }, {
          text: "Details of the Day", 
          url: "/details-of-the-day"
        }, {
          text: "Where to Stay", 
          url: "/where-to-stay"
        }, {
          text: "RSVP", 
          url: "/rsvp"
        }]
      %>

      <% links.each do |link| %>
        <% classes = ["px-4", "mr-2", "py-2", "text-stone-700", "rounded-lg", "hover:bg-rose-100", "hover:text-rose-900"] %>
        <% classes << "bg-rose-100 text-rose-900" if request.path == link[:url] %>
        <%= link_to link[:text], link[:url], class: classes.join(" ") %>
      <% end %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
